main {
    background: linear-gradient(to right, #141E30, #29323c);
    width: 100%;
    min-height: 100vh;
    font-family: 'Enriqueta', arial, serif;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding: 25px;
}

main .container {
    margin-bottom: 6vw;
}

main h1 {
    background-image: linear-gradient(90deg, #366cff, #89a4fd);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 5em;
}

// ***********************************************************************

main .select {
    margin-top: 25px;
    text-align: center;
}

::ng-deep .p-inputtext {
    width: 400px !important;
}

::ng-deep .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: #ced4da;
}

::ng-deep .p-inputtext:enabled:hover {
    border-color: #ced4da;
}

::ng-deep .p-button:focus {
    box-shadow: none !important;
}

::ng-deep .p-button {
    background-color: #366cff;
}

.inputTexts ::ng-deep .p-inputtext {
    width: 200px !important;
}

// ***********************************************************************

.itemTable {
    width: 100%;
    color: rgb(198, 193, 185);
    font-family: 'Enriqueta', arial, serif;
    text-align: center;
    margin-top: 25px;
    border-collapse: collapse;
    white-space: nowrap;
    display: none;
}

.itemTable thead {
    font-weight: bold;
}

.itemTable td {
    width: fit-content;
    border: 0.5px solid #858585;
    padding: 0.5em 1em;
}

.itemTable td img {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.firstNoBorder {
    border-left: none !important;
    border-bottom: none !important;
}

.lastNoBorder {
    border-right: none !important;
    border-bottom: none !important;
}

// ***********************************************************************

.text {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.inputTexts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    display: none;
}

// ***********************************************************************

.sectionH2 {
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: left;
}

// ***********************************************************************

.rentabilite {
    display: None;
    margin-bottom: 0;
    color: rgb(198, 193, 185);
}

.tauxRentabilite {
    color: rgb(198, 193, 185);
}

.tauxRentabilite p {
    margin-top: 5px;
}

.tauxRentabilite p:first-child {
    margin-top: 0px;
}

// ***********************************************************************

.recipe {
    display: None;
    margin-bottom: 0;
    color: rgb(198, 193, 185);
}

.ingredientContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: space-evenly;
    padding: 0 20px 0 20px;
}

.ingredientContainer :last-child:nth-child(odd) {
    grid-column-start: auto;
    grid-column-end: auto;
    width: 45%; 
    grid-column: 1 / -1;
    justify-self: center;
}

.ingredient {
    border: 1px solid rgb(198, 193, 185);
    padding: 12px 13px 12px 13px;
    text-align: left;
    cursor: pointer;
}

.ingredient:hover {
    background-color: rgb(198, 193, 185, 0.20);
}

.ingredient p {
    margin-top: 1px;
    margin-bottom: 1px;
    letter-spacing: 0.1px;
}

.ingredientName {
    font-weight: bold;
}

// ***********************************************************************

.helpSign {
    position: fixed;
    top: 0;
    right: 0;
    color: rgb(198, 193, 185);
    padding: 7px;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}

p-dialog p {
    margin-top: 15px;
}

p-dialog p:first-child {
    margin-top: 0px;
}

.indent{
    margin-left: 50px !important;
    margin-top: 0px !important;
}