<main>
    <div class="container">
        <h1>Easy Breaking</h1>
        <div class="select">
            <p-autoComplete [(ngModel)]="selectedItem" [dropdown]="true" [suggestions]="filteredItems"
                (completeMethod)="filterItem($event)" field="name" (onSelect)="selectItem($event)"
                placeholder="Entrez le nom d'un item..." (keyup)="checkEmptyText()"></p-autoComplete>
        </div>
        <table class="itemTable">
            <thead>
                <tr>
                    <td>Caractéristiques</td>
                    <td>Nom des runes</td>
                    <td>Prix unitaire des runes</td>
                    <td>Quantité de runes</td>
                    <td>Quantité de runes (focus)</td>
                    <td>Prix des runes (focus)</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableau">
                    <td><img src={{row.runeImg}}><div class="text">{{row.stat}}</div></td>
                    <td>{{row.runeName}}</td>
                    <td>{{row.runePrice}}</td>
                    <td>{{row.runeQuantity}}</td>
                    <td>{{row.runeQuantityFocused}}</td>
                    <td>{{row.focusedRunePrice}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>