main {
    background: linear-gradient(to right, #141e30, #29323c);
    width: 100%;
    min-height: 100vh;
    font-family: "Enriqueta", arial, serif;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

main .container {
    margin-bottom: 6vw;
}

main h1 {
    background-image: linear-gradient(90deg, #366cff, #89a4fd);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 5em;
}

.bold{
    font-weight: bold;
}

// ***********************************************************************

main .select {
    margin-top: 25px;
    text-align: center;
}

::ng-deep .p-inputtext {
    width: 400px !important;
}

::ng-deep .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: #ced4da;
}

::ng-deep .p-inputtext:enabled:hover {
    border-color: #ced4da;
}

::ng-deep .p-button:focus {
    box-shadow: none !important;
}

::ng-deep .p-button {
    background-color: #366cff;
}

.inputTexts ::ng-deep .p-inputtext {
    width: 200px !important;
}

// ***********************************************************************

.vanishingDiv {
    display: none;
}

.selectedItemInfos {
    display: flex;
    align-items: center;
    gap: 16px;
    color: rgb(198, 193, 185);
    margin-top: 20px;
}

.selectedItemImage {
    width: 85px;
    height: auto;
    border: 0.5px solid #858585;
}

.selectedItemInfo {
    margin: 3px 0;
}

// ***********************************************************************

.itemTable {
    width: 100%;
    color: rgb(198, 193, 185);
    font-family: "Enriqueta", arial, serif;
    text-align: center;
    margin-top: 25px;
    border-collapse: collapse;
    white-space: nowrap;
}

.itemTable td {
    width: fit-content;
    border: 0.5px solid #858585;
    padding: 0.5em 1em;
}

.itemTable td img {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.runePriceInput ::ng-deep .p-inputtext {
    width: auto !important;
    padding: 5px 10px 5px 6px;
}

.firstNoBorder {
    border-left: none !important;
    border-bottom: none !important;
}

.lastNoBorder {
    border-right: none !important;
    border-bottom: none !important;
}

// ***********************************************************************

.text {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.inputTexts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

// ***********************************************************************

.sectionH2 {
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: left;
}

// ***********************************************************************

.rentabilite {
    margin-bottom: 0;
    color: rgb(198, 193, 185);
}

.tauxRentabiliteContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.tauxRentabiliteRight {
    margin-left: 100px;
}

.tauxRentabilite p {
    margin-top: 6px;
}

.tauxRentabilite p:first-child {
    margin-top: 0;
}

// ***********************************************************************

.recipe {
    margin-bottom: 0;
    color: rgb(198, 193, 185);
}

.nbObjetsInput {
    margin-left: 10px;
}

.nbObjetsInput ::ng-deep .p-inputtext {
    width: 100px !important;
}

.ingredientContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: space-evenly;
    padding: 0 20px 0 20px;
}

.ingredient {
    border: 1px solid rgb(198, 193, 185);
    padding: 12px 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.ingredient:hover {
    background-color: rgba(198, 193, 185, 0.2);
}

.ingredientImage {
    width: 70px;
    height: auto;
}

.ingredientText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.ingredientText p {
    margin: 5px 0 1px 0;
    letter-spacing: 0.1px;
}

.ingredientText p.ingredientName {
    margin-bottom: 10px;
}

// ***********************************************************************

.helpSign {
    position: fixed;
    top: 0;
    right: 0;
    color: rgb(230, 227, 224);
    padding: 7px;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}

p-dialog p {
    margin-top: 15px;
}

p-dialog p:first-child {
    margin-top: 0px;
}

.indent {
    margin-left: 50px !important;
    margin-top: 0px !important;
}

// ***********************************************************************

.runeSign {
    position: fixed;
    top: 0;
    right: 50px;
    padding: 5px;
    margin: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.runeImg {
    width: 37px;
}
