<main>
	<div class="backArrow" (click)="goToHomePage()">
		<i class="fa-solid fa-arrow-left"></i>
	</div>
	<div class="runes-table-container">
		@if (runes.length > 0) {
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prix</th>
						<th>Prix Rune Pa</th>
						<th>Prix Rune Ra</th>
					</tr>
				</thead>
				<tbody>
					@for (rune of runes; track rune; let i = $index) {
						<tr>
							<td
								class="clicable"
								tabindex="0"
								(click)="copyToClipboard($event, rune.name)"
								pTooltip="Rune copiée"
								tooltipEvent="focus"
								tooltipPosition="top"
							>
								<img [src]="rune.img" />
								<div class="nom-cellule">{{ rune.name }}</div>
							</td>
							<td>
								<p-iconfield iconPosition="right">
									<p-inputNumber
										[style]="{ width: '200px', padding: '3px', marginRight: '12px' }"
										inputId="prixCraft"
										placeholder="Prix de la rune"
										[(ngModel)]="rune.price"
										(change)="onPriceChange(i, 'price', $event)"
										[min]="1"
										[max]="999999"
									></p-inputNumber>
									<p-inputicon><i class="fa-solid fa-k"></i></p-inputicon>
								</p-iconfield>
							</td>
							<td>
								@if (rune.paPrice !== undefined) {
									<p-iconfield iconPosition="right">
										<p-inputNumber
											[style]="{ width: '200px', padding: '3px', marginRight: '12px' }"
											inputId="prixCraft"
											placeholder="Prix de la rune"
											[(ngModel)]="rune.paPrice"
											(change)="onPriceChange(i, 'paPrice', $event)"
											[min]="1"
											[max]="999999"
										></p-inputNumber>
										<p-inputicon><i class="fa-solid fa-k"></i></p-inputicon>
									</p-iconfield>
								} @else {
									/
								}
							</td>
							<td>
								@if (rune.raPrice !== undefined) {
									<p-iconfield iconPosition="right">
										<p-inputNumber
											[style]="{ width: '200px', padding: '3px', marginRight: '12px' }"
											inputId="prixCraft"
											placeholder="Prix de la rune"
											[(ngModel)]="rune.raPrice"
											(change)="onPriceChange(i, 'raPrice', $event)"
											[min]="1"
											[max]="999999"
										></p-inputNumber>
										<p-inputicon><i class="fa-solid fa-k"></i></p-inputicon>
									</p-iconfield>
								} @else {
									/
								}
								<ng-template #noRaPrice>/</ng-template>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		<div class="buttonContainer">
			<button (click)="saveChanges()">Enregistrer</button>
		</div>
	</div>
</main>
