main {
    background: linear-gradient(to right, #141E30, #29323c);
    width: 100%;
    min-height: 100vh;
    font-family: 'Enriqueta', arial, serif;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding: 25px;
}