<main>
	<div class="page-header">
		<p-button icon="pi pi-arrow-left" [rounded]="true" [text]="true" severity="secondary" (click)="goToHomePage()" class="back-btn" />
		<div class="header-brand">
			<h1 class="page-title">Gestionnaire de runes</h1>
			<span class="page-subtitle">Modifiez les prix des runes</span>
		</div>
	</div>

	<div class="runes-table-container">
		@if (runes.length > 0) {
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prix</th>
						<th>Prix Rune Pa</th>
						<th>Prix Rune Ra</th>
					</tr>
				</thead>
				<tbody>
					@for (rune of runes; track rune; let i = $index) {
						<tr>
							<td
								class="clicable"
								tabindex="0"
								(click)="copyToClipboard($event, rune.name)"
								pTooltip="Rune copiée"
								tooltipEvent="focus"
								tooltipPosition="top"
							>
								<img [src]="rune.img" />
								<div class="nom-cellule">{{ rune.name }}</div>
							</td>
							<td>
								<div class="cell-center">
									<p-iconfield iconPosition="right">
										<p-inputNumber
											inputId="prixCraft"
											placeholder="Prix de la rune"
											[(ngModel)]="rune.price"
											(change)="onPriceChange(i, 'price', $event)"
											[min]="1"
											[max]="999999"
										></p-inputNumber>
										<p-inputicon><i class="fa-solid fa-k"></i></p-inputicon>
									</p-iconfield>
								</div>
							</td>
							<td>
								@if (rune.paPrice !== undefined) {
									<div class="cell-center">
										<p-iconfield iconPosition="right">
											<p-inputNumber
												inputId="prixCraft"
												placeholder="Prix de la rune"
												[(ngModel)]="rune.paPrice"
												(change)="onPriceChange(i, 'paPrice', $event)"
												[min]="1"
												[max]="999999"
											></p-inputNumber>
											<p-inputicon><i class="fa-solid fa-k"></i></p-inputicon>
										</p-iconfield>
									</div>
								} @else {
									<span class="no-price">/</span>
								}
							</td>
							<td>
								@if (rune.raPrice !== undefined) {
									<div class="cell-center">
										<p-iconfield iconPosition="right">
											<p-inputNumber
												inputId="prixCraft"
												placeholder="Prix de la rune"
												[(ngModel)]="rune.raPrice"
												(change)="onPriceChange(i, 'raPrice', $event)"
												[min]="1"
												[max]="999999"
											></p-inputNumber>
											<p-inputicon><i class="fa-solid fa-k"></i></p-inputicon>
										</p-iconfield>
									</div>
								} @else {
									<span class="no-price">/</span>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		<div class="buttonContainer">
			<p-button label="Enregistrer" icon="pi pi-save" (click)="saveChanges()" class="save-btn" />
		</div>
	</div>
</main>
