main {
    background: linear-gradient(to right, #141E30, #29323c);
    width: 100%;
    min-height: 100vh;
    font-family: 'Enriqueta', arial, serif;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding: 25px;
}

.runes-table-container {
    margin: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(198, 193, 185);
    vertical-align: middle;
    color: rgb(198, 193, 185);
}

thead {
    font-weight: bold;
}

button {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}